/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.container{
  margin: auto;
}

/* Custom design below! */
.banner{
  background-size: cover;
  display: flex;
  align-items: center

}

.banner-btn{
  background-color: white;
  color: black;
  padding: 12px 32px;
  border-radius: 4px
}

.banner-text{
  color: white;
  font-size: 20px;
  margin: auto;
}

.card{
  border-radius: 4px;
  background-color: gray;
  margin: 30px;
  padding: 30px;
}

.parent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  background-color: gray;
  text-align: center;
  padding: 30px;
}

.items{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 30px;
}








